{% extends 'Layout/main.html.twig' %}


{% block title %}{{ parent() ~ recipe.name }}{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-l-4">
            <img src="/assets/img/{{ recipe.picture }}" width="100%" alt="">
        </div>
        <div class="col-l-8">
        </div>
    </div>
    <h1>{{ recipe.name }}</h1>

    <div class="row">

        <div class="col-l-6">
            <div class="ingredients">
                <h2>Ingredients</h2>
                {% for ingredient in recipe.ingredients %}
                    <div class="p1">
                        <strong>{{ ingredient.quantity }} g </strong> {{ ingredient.name }}<br>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-l-6">
            <table class="table table__bordered table__small table__striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Par 100g</th>
                    <th>Recette</th>
                    <th colspan="2">Journalier (%) | Journalier (g)</th>
                </tr>
                </thead>
                <tbody>

                <tr  style="border-top: 2px solid #000;">
                    <td><strong>{{ 'energy-kcal' }}</strong></td>
                    <td>{{ recipe.nutri_table['100g']['energy-kcal']|number_format(2, ',', ' ') }} g</td>
                    <td>{{ recipe.nutri_table['recipe']['energy-kcal']|number_format(2, ',', ' ') }} g</td>
                    {% if recipe.nutri_table['recipe_daily']['percent']['energy-kcal'] %}
                        <td>{{ recipe.nutri_table['recipe_daily']['percent']['energy-kcal']|number_format(2, ',', ' ') }} %</td>
                        <td>{{ recipe.nutri_table['recipe']['energy-kcal']|number_format(2, ',', ' ') }} g / {{  recipe.nutri_table['recipe_daily']['daily']['energy-kcal']|number_format(2, ',', ' ') }} g</td>
                    {% else %}
                        <td colspan="2">-</td>
                    {% endif %}

                </tr>
                <tr style="border-bottom: 2px solid #000;">
                    <td><strong>{{ 'energy-kj' }}</strong></td>
                    <td>{{ recipe.nutri_table['100g']['energy-kj']|number_format(2, ',', ' ') }} g</td>
                    <td>{{ recipe.nutri_table['recipe']['energy-kj']|number_format(2, ',', ' ') }} g</td>
                    {% if recipe.nutri_table['recipe_daily']['percent']['energy-kj'] %}
                        <td>{{ recipe.nutri_table['recipe_daily']['percent']['energy-kj']|number_format(2, ',', ' ') }} %</td>
                        <td>{{ recipe.nutri_table['recipe']['energy-kj']|number_format(2, ',', ' ') }} g / {{  recipe.nutri_table['recipe_daily']['daily']['energy-kj']|number_format(2, ',', ' ') }} g</td>
                    {% else %}
                        <td colspan="2">-</td>
                    {% endif %}
                </tr>

                {% for key, nutriment in recipe.nutri_table.recipe %}
                    {% if  recipe.nutri_table['100g'][key] != 0 and key != 'energy-kcal' and key != 'energy-kj' %}
                        <tr>
                            <td><strong>{{ key }}</strong></td>
                            <td>{{ recipe.nutri_table['100g'][key]|number_format(2, ',', ' ') }} g</td>
                            <td>{{ recipe.nutri_table['recipe'][key]|number_format(2, ',', ' ') }} g</td>
                            {% if recipe.nutri_table['recipe_daily']['percent'][key] %}
                                <td>{{ recipe.nutri_table['recipe_daily']['percent'][key]|number_format(2, ',', ' ') }} %</td>
                                <td>{{ recipe.nutri_table['recipe'][key]|number_format(2, ',', ' ') }} g / {{  recipe.nutri_table['recipe_daily']['daily'][key]|number_format(2, ',', ' ') }} g</td>
                            {% else %}
                                <td colspan="2">-</td>
                            {% endif %}

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="recipe">
        <h2>Recette</h2>
        {{ recipe.body|raw }}
    </div>


</div>




{% endblock %}